<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Отслеживание курьера</title>

</head>

<body>
    <h1>Отслеживание курьера</h1>
    <div id="map" style="width:500px; height:400px"></div>
    <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
    <script type="text/javascript">
        var map;
    
        DG.then(function () {
            map = DG.map('map', {
                center: [47.227, 39.708],
                zoom: 30
            });
        });
    </script>
</body>
</html>